@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box; /* 不累加邊框和內距，間距還是會累加 */
}

a {
	display: block;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

body {
	font-family:
		/*西文*/
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		/*中文*/
		"蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

:root{
	/* 主色調 */
	--major-color: #ededed;
	--major-color2:#353938;
	--major-color3:#bc9f77;
	/* 輔助色調 */
	--lesser-color:rgba(237, 237, 237,0.7);
    --lesser-color2:rgba(53, 57, 56,0.7);
}
/* 共同設定 */
.members{
    /* border: red 2px solid; */
    /* width: 1440px; */
    display: flex;
}

/* #members section,
#members form {
    display: flex;
} */

#members form {
    margin-left: 30px;
}
/* 圖片設定 */

/* 左邊環境圖片 */
.members .member_envi_pic {
	display: flex;
}
/* 中間登入框 */

.member_signin{
    width: 40%;
	margin: 30px auto 10px;
    /* border: 2px var(--lesser-color2) solid; */
    box-sizing: border-box;
    padding: 20px;
    /* background-image: url(./images/pattern6_frame2.svg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* z-index: -1; */
    border: 1px solid rgba(255, 255, 255, .8);
	background-color: transparent;
	/*取消瀏覽器預設的預設值*/
	background-image: linear-gradient( rgba(255, 255, 255, .1), rgba(255, 255, 255, .6));
	box-shadow:  2px 1px 1px rgba(255, 255, 255, .4),
		inset  -1px -1px 1px rgba(255, 255, 255, .2),
        2px 2px 3px rgba(0, 0, 0, .2), /* 左邊陰影 */
        0 1px 3px rgba(0, 0, 0, .2); /* 上邊陰影 */
}
.member_signin>*{
    display: block;
	width: 100%;
}
.member_signin h2{
    display: block;
    font-size: large;
    font-weight: 900;
    color: var(--major-color2);
    text-align: center;
    margin-bottom: 50px;

}
.member_signin label{
    margin: 20px 0 10px 0;
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	color:var(--major-color2);
}
.member_signin input{
    padding: 10px;
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
	border-radius: 2px;
	background-color: var(--lesser-color);
	border: none;
}
.member_signin button{
    border-radius: 30px;
	padding: 8px;
	margin-top: 20px;
	background-color:var(--major-color2);
	color: var(--major-color);
	letter-spacing: 0.1rem;
	border: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50%;
}
.member_signin a{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	color: #1D201D;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}
.remember-forget{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
    text-decoration: none;
}
.rememberme{
    margin-right: 10px;
}
.remember-forget a{
    margin-left: auto;
    margin-right: 10px;
    display:block;
    margin-top: 30px;
    text-align: right;
}
.enter_box{
    margin-top: 50px;
}
.enter_box a {
    border: 1px solid var(--major-color);
	background-color: var(--major-color2);
	border-radius: 30px;
	padding: 5px;
	margin: 15px auto;
    color:var(--major-color);
	letter-spacing: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
	text-decoration: none;
}
.button_sign{
    margin-top: 100px;
}
.button_sign a{
	border: 1px solid var(--major-color2);
	background-color: #ffffff;
	border-radius: 30px;
	padding: 5px;
	margin: 15px auto;
	color:var(--major-color2);
	letter-spacing: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
	text-decoration: none;

}
.enter_box img{
    /* padding-left: 2px; */
    width: 30px;
    height: 30px;
    /* filter:var(--major-color); */
    filter: brightness(0) invert(1);
}
.button_sign img{
    padding-right: 5px;
    width: 30px;
    height: 30px;
}
/* 右邊logo */
.heading img{
    width: 48px;
    height: 48px;
    margin: 10px;
}