@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
	box-sizing: border-box; /* 不累加邊框和內距，間距還是會累加 */
}

a {
	display: block;
	text-decoration: none;
}

/* img {
	display: block;
	width: 100%;
} */

body {
	font-family:
		/*西文*/
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		/*中文*/
		"蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

:root{
	/* 主色調 */
	--major-color: #ededed;
	--major-color2:#353938;
	--major-color3:#bc9f77;
	/* 輔助色調 */
	--lesser-color:rgba(237, 237, 237,0.7);
    --lesser-color2:rgba(53, 57, 56,0.7);
}


/* 頁首區 */
.topbar {
    position: fixed;
    border: yellow 2px solid;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
}
.topbar nav{
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    /* align-items: center; */

}
.topbar .menu{
    display: flex;
    text-decoration: none;
    text-align: center;
}

.topbar .menu a{
    padding: 5px 0px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    font-size:1.125rem;
    color: var(--major-color2);
    margin-right:20px;
}
.topbar .user{
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    /* margin-right: 1px; */
}
.topbar .user a{
    margin-left: 0;
} 

.topbar .icon{
    display:flex;
    /* align-items:center ; */
}


/* banner區 */
.banner{
    border: 2px solid purple;
    display: flex;
    position: relative;
    background-color: var(--major-color);
}
.banner img{
    /* z-index: -1; */
    /* position: absolute; */
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
/* #banner {
    height: 800px;
    padding: 0;
} */
/* section{
    height: 100vh;
} */
#banner img{
    width: 100%;
    /* height: 800px; */
}


 /* container區 */
.container{
    border:2px solid red;
    width: 1440px;
    display: block;
    background-color: var(--major-color);
}
/* container共用區 */
.heading {
    height: 20vh;
    margin: 135px 0 0 80px;   /* 上右下左 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.5rem;
    line-height: 2.6rem;
}
.intro1_info_txt,
.intro2_contents_txt {
    margin: 100px 0 80px 0;   /* 上右下左 */
    line-height: 36px;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* intro1區 */
.intro1 {
    border:2px solid blue;
    display: flex;
    flex-direction: column;
    /* height: 800px; */
    /* padding:0px 80px; */
}
.intro1_contents {
    display: flex;
}
.intro1_info {
    margin: 0 80px;  /* 上下 左右 */
    letter-spacing: 2px;
}
.intro1_info_access_holin,
.intro1_info_access_addr {
    margin: 0 0 16px 0;
}
.intro1_info_access_time {
    line-height: 26px;
}




/* intro2區 */
.intro2 {
    border:2px solid green;
    display: flex;
}
.intro2_img{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-right: 192px;
}
.intro2_contents{
    display: flex;
    flex-direction: column;
    text-align: right;
}




/* intro3區 */
.intro3{
    border:2px solid pink;
    display: flex;
}
.intro3_contents {
    display: flex;
}
.intro3_info {
    margin: 243px 0 0 52px;
    width: 40%;
    letter-spacing: 2px;
}
.intro3_info_title {
    font-size: 1.1rem;
}
.intro3_info_txt {
    margin: 38px 0 80px 0;   /* 上右下左 */
    line-height: 36px;
    font-size: 1rem;
}


/* envtpic區 */



/* footer區 */
.footer{
	border:2px solid orange;
    background-color: var(--major-color);
	color: var(--major-color2);
    display: flex;
    justify-content: center;
    align-items: center;
	/* text-align: center; */
	padding: 20px 0;
}
.footer a {
    color: var(--major-color2);
    padding: 0 40px;
}
.footer small {
    padding: 0 40px;
}