html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {

    --major-color-1: #ededed;
    --major-color-2: #353938;
    --major-color-3: #bc9f77;
    --lesser-color-1: rgba(237, 237, 237, 0.7);
    --lesser-color-2: rgba(53, 57, 56, 0.7);

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 800px;
    --max-height: 580px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.signupbox {
    align-items: center;
    background-color: var(--major-color-1);
    background: url("../../public/images/members/bg4-50-01.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
    z-index: -1;
}

.form__title {
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.25rem;
}

.link {
    color: var(--major-color-2);
    font-size: 0.7rem;
    margin: .3rem 0;
    text-decoration: none;
    text-align: right;
    width: 100%;
    display: block;
}

.container {
    background-color: var(--major-color-1);
    /* border-radius: var(--button-radius); */
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
        0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: var(--max-height);
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container__form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
    width: 48%;
}

.container--signin {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .container--signin {
    transform: translateX(100%);
}

.container--signup {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container.right-panel-active .container--signup {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.container__overlay {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 1;
}

.container.right-panel-active .container__overlay {
    transform: translateX(-100%);
}

.overlay {
    background-color: var(--lesser-color-2);
    background: url("../../public/images/members/glass.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay--left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay--left {
    transform: translateX(0);
}

.overlay--right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay--right {
    transform: translateX(20%);
}

.btn {
    background-color: var(--major-color-3);
    background-image: linear-gradient(90deg, var(--lesser-color-3) 0%, var(--lesser-color-1) 85%);
    border-radius: 20px;
    border: .5px solid var(--major-color-3);
    color: var(--major-color-1);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.form>.btn {
    margin-top: 1.5rem;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.form {
    background-color: var(--major-color-1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
    /* margin-top: 4%; */
    justify-content: center;
}

.form label {
    font-size: small;
    text-align: left;
    width: 100%;
    color: var(--major-color-2);
}

/* sign up */
/* sign in */
.form h2 {
    text-align: center;
    font-weight: 800;
    font-size: 1.7rem;

}

input {
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    color: grey;
}

.google {
    background-image: url("../../public/images/members/google-48.png");
    background-color: #fff;
    color: var(--lesser-color-2);
    border:none;    
    /* background-size: 2vw; */
    background-size: 24px;
    background-repeat: no-repeat;
    /* background-position: 9px 6px; */
    background-position: 1.5rem .5rem;
    /* padding-left: 10%; */
    /* padding: 12px 16px 12px 42px; */
    padding: 0.8rem 2rem 0.8rem 4rem;
    font-family:'Open Sans';
    
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.rwdContainer {
    display: none;
}

@media (max-width: 576px) {
    /* .container {
        flex-direction: column;
    } */

    .container__form {
        width: 100%;
    }

    /* .link {
        text-align: left;
    } */
    .container__overlay {
        display: none;
    }

    .rwdContainer {
        display: flex;
        margin: 5% auto;
        letter-spacing: 1.5px;
    }

    .rwdSignin {
        margin: 15% auto;
        letter-spacing: 1.5px;
    }

    .container.right-panel-active .container--signup {
        transform: translateX(0);
    }

    .rwdBtn {
        border: none;
        color: var(--major-color-3);
    }
    
    .form__title {
        margin: 5% auto;
    }
}

.registration-success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--major-color-1);
    border: 1px solid var(--major-color-2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001; /* Updated z-index to a higher value */
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup-content h2 {
    color: var(--major-color-2);
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .popup-content button {
    background-color: var(--major-color-3);
    color: var(--major-color-1);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken(var(--major-color-3), 10%);
    }
  }
  