// 最大尺寸 max-size -----
$max-width: 800px;
$max-height: 580px;


// z-index -----
$zindex-xxs: -99;
$zindex-xs: -1;
$zindex-s: 1;
$zindex-m: 2;
$zindex-l: 3;
$zindex-xl: 4;
$zindex-xxl: 99;


// 圓角 border-radius -----
$br-xs: 2px;
$br-s: 6px;
$br-m: 12px;
$br-l: 20px;
$br-xl: 30px;